<%= form_for @comment, remote: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :comment, class: 'text font-weight-bolder' %>:
    <%= f.text_area :content, class: 'form-control', rows: 7, cols: 40 %>
  </div>
  <input type="hidden" name="comment[ticket_id]" value="<%= id %>>">
  <div class="form-group">
    <%= f.submit 'Post Comment', class: 'btn btn-dark' %>
  </div>
<% end %>
