<div class="card mb-4 box-shadow">
  <div class="card-body">
    <h5 class="card-title"><%= ticket.title %></h5>
    <p class="card-text"><%= ticket.description %></p>
    <div class="ticket-footer">
      <span>
        Created by: <span class="ticket-name font-weight-bold"><%= ticket.owner %></span>
        <%= distance_of_time_in_words(ticket.created_at, Time.now) %> ago
      </span>

      <span class="text <%= ticket.assigned? ? 'text-success' : 'text-danger' %>">
        <%= ticket.assigned? ? 'Assigned to agent' : 'Not yet assigned' %>
      </span>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-7">
            <%= link_to "View", ticket, class: "btn btn-sm btn-secondary" %>
            <%= link_to 'Edit', edit_ticket_path(ticket), class: "btn btn-sm btn-info" %>
            <%= link_to 'Delete', ticket, method: :delete,
                        data: {confirm: 'Are you sure?'} ,
                        class: "btn btn-sm btn-danger"%>
      </div>

      <div class="col-md-5 d-flex justify-content-end align-items-center ">
        <div class="buttons">
          <button type="button" class="btn btn-sm btn-dark">
            <%= toggle_ticket_status(ticket) %>
          </button>
        </div>
        Status: &nbsp;
          <span class="text text-<%= ticket.active? ? 'success' : 'danger' %> font-weight-bold">
            <%= ticket.status.capitalize %>
          </span>
      </div>
    </div>
  </div>
</div>
