<div class="col-lg-8 col-xl-8 col-md-8 mx-auto mt-5">
  <h3 class="text-center"><%= @ticket.title %></h3>

  <div>
    <section>
      <div class="text text-wrap"><%= @ticket.description%></div>
    </section>
  </div>
  <hr />

  <div class="col-lg-11 col-xl-11 col-md-11 mx-auto">
    <%= render 'comments/comments_form', id: @ticket.id  if current_user.agent? || @ticket.comments.any? %>
  </div>

  <div id="comments" class=" <%= @ticket.comments.any? ? 'scroll' : nil %> col-lg-11 col-xl-11 col-md-11 mx-auto mt-5">
    <%= render @ticket.comments %>
  </div>
</div>
